@import "./components/setup";
@import "./components/cards";
@import "./components/wiggle";
@import "./components/button";

h2{
    font-weight: 700;
    font-size: 24px;
}
h4{
	font-weight: 300;
	font-size: 16px;
	border-bottom:  solid #99E2D0;
	width: 8%;
	transition: ease-in-out 0.3s;
	&:hover{
		width: 15%
	}
}

/*********** Header ***********/
.title {
	position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: var(--alternate-bg-color);
  padding: 20px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.location {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:var(--third-bg-color);
	font-size: 14px;
	padding-left: 55px;
	gap: 20px; 
		&find{
		display: flex;
		background-color: (var(--third-bg-color));
		border: none;
		font-size: 22px;
		font-weight: 600;
		padding-top: 15px;
		padding-bottom: 15px;
			&::placeholder{
				color: black;
		}	
	}
}


/*********** Intro ***********/
.intro{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	text-align: center;
	padding-bottom: 50px;
	padding-top: 20px;
	padding-left: 22%;
	padding-right: 22%;
}

.intro-text{
	font-size: 18px;
}

/*********** Fonctionnement ***********/
.functioning{
	background-color: var(--alternate-bg-color);

}

.functioning-title{
	display: flex;
	padding-left: 30px;
}

.functioning-step{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 50px;
}


/*********** Restaurant ***********/
.restaurant{
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr;
	padding-bottom: 90px;
	gap: 30px;
}

.bis{
	padding-left: 30px;
	padding-bottom: 10px;
}


/*********** Footer ***********/
.footer{
	background-color: #353535;
	display: flex;
	flex-direction: column;
	padding: 25px;
	color: white;
	.footer_list{
		padding: 0px;
		margin: 0px;
	}
	.footer-title{
		padding-bottom: 16px;
	}
	.footer__link{ 
		font-size: 16px;
		font-weight: 400;
		color: var(--alternate-bg-color);
		text-decoration: none;
	}
}

/*********** presentation ***********/
.menu-params{
	color: #000;
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	text-transform: uppercase;
}

.main {
	position: relative
}

.main-image img{
	display: flex;
	object-fit: cover;
	width: 414px;
	height: 275px;
	z-index: 2;
}

.presentation {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
}

.title-params{
	color: var(--Black, #101010);
	font-family: Shrikhand;
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.menu-title{
	display: flex;
	flex-wrap: wrap ;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 415px ){
.icon{
	padding-left: 3%;
}

h2{
	font-weight: 700;
	font-size: 40px;
}

.functioning{
	padding-left: 180px;
	padding-right: 180px;
	padding-bottom: 50px;
}

.functioning-step{
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	padding-left: 0px;
	padding-right: 0px;
}  

.step{
	&-item{
		padding: 40px;
		max-width: 322px;
		max-height: 72px;
	}
}

.restaurant{
	grid-template-columns: 1fr 1fr;
	padding-left: 180px;
	padding-right: 180px;
}

.card{
	width: 80%;
}

.card-header img{
	width: 100%;
}
}