* {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

:root {
  --main-bg-color: #F3F3F3;
  --alternate-bg-color: #FFFFFF;
  --third-bg-color: #EAEAEA;
}

body {
  background-color: var(--main-bg-color);
  margin: 0%;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

.button {
  padding: 25px 25px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.button__purple {
  border: none;
  border-radius: 25px;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: var(--alternate-bg-color);
  font-size: 16px;
  font-weight: 500;
  width: 228px;
  height: 50px;
  transition: box-shadow 0.3s ease, background-image 0.3s ease;
}
.button__purple:hover {
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(193.33deg, #a376f8 -11.44%, #fc89dd 123.93%);
}

/*********** Header ***********/
.title {
  display: flex;
  justify-content: center;
  background-color: var(--alternate-bg-color);
  padding: 20px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--third-bg-color);
  font-size: 14px;
  padding-left: 55px;
  gap: 20px;
}
.locationfind {
  display: flex;
  background-color: var(--third-bg-color);
  border: none;
  font-size: 22px;
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 15px;
}
.locationfind::-moz-placeholder {
  color: black;
}
.locationfind::placeholder {
  color: black;
}

/*********** Intro ***********/
.intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 20px;
  padding-left: 22%;
  padding-right: 22%;
}

.intro-text {
  font-size: 18px;
}

/*********** Fonctionnement ***********/
.fonctionnement {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: var(--alternate-bg-color);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}

.etapes {
  align-items: center;
  text-align: center;
  display: flex;
  border: none;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: #F6F6F6;
  width: 90%;
  border-radius: 25px;
  padding: 10px 42px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 25px;
  gap: 30px;
}

/*********** Restaurant ***********/
.restaurant {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  padding-right: 15px;
  padding-bottom: 90px;
  gap: 30px;
}

.bis {
  padding-left: 30px;
  padding-bottom: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card-header {
  position: relative;
}

.card-header img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 346px;
  height: 231px;
  border-radius: 20px 20px 0px 0px;
}

.card-body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.card-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--alternate-bg-color);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

.rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 29px;
  width: 80px;
  background-color: #99E2D0;
  color: #008766;
  z-index: 1;
}

.badge {
  position: absolute;
  right: 15px;
  top: 15px;
}

.circle {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  border-radius: 25px;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  color: white;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.icon {
  color: black;
  display: flex;
  padding-left: 10%;
}
.icon-grey {
  color: #7F7F7F;
}
.icon-pirple {
  color: #9356DC;
}

.icones:active {
  color: rbga(147, 86, 220 1);
}

/*********** Footer ***********/
.footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 25px;
  color: white;
}
.footer .footer_list {
  padding: 0px;
  margin: 0px;
}
.footer .footer-title {
  padding-bottom: 16px;
}
.footer .footer__link {
  font-size: 16px;
  font-weight: 400;
  color: var(--alternate-bg-color);
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */