.card{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.card-header img{
    object-fit: cover;
    width: 346px;
    height: 231px;
    border-radius: 20px 20px 0px 0px;
}

.card-body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.card-icon{
	display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--alternate-bg-color);
    border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
}