* {
  font-family: 'Roboto', sans-serif;
}

ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px
}

a {
  color: black;
  text-decoration: none;
}

:root {
  --main-bg-color: #F3F3F3;
  --alternate-bg-color: #FFFFFF;
  --third-bg-color: #EAEAEA;
}

body {
  background-color: var(--main-bg-color);
  margin: 0%;
}

.background {
  background-color: #F6F6F6;
  border-radius: 25px 25px 0px 0px;
  z-index: 1;
  bottom: 15
}