* {
  font-family: 'Roboto', sans-serif;
}

ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px
}

:root {
  --main-bg-color: #F3F3F3;
  --alternate-bg-color: #FFFFFF;
  --third-bg-color: #EAEAEA;
}

body {
  background-color: var(--main-bg-color);
  margin: 0%;
}