* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-bg-color: #F3F3F3;
    --alternate-bg-color: #FFFFFF;
    --third-bg-color: #EAEAEA;
}

body {
    background-color: var(--main-bg-color);
    margin: 0%;
}