.rectangle{
    display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
    height: 29px;
    width: 80px;
    background-color: #99E2D0;
		color: #008766;
		z-index: 1;
}

.badge {
  position: absolute;
	right: 15px;
	top: 15px;
}


.circle{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border-radius: 25px;
    width: 24px;
    height: 24px;
    background-color: #9356DC;
    color: #FFFF;
		top: 50%;
		left: 0;
		transform: translate(-50%,-50%);
}

.icon{
	color: black;
	display: flex;
	padding-left: 10%;

		&-grey{
		color: #7F7F7F;
		}
		&-pirple{
			color: #9356DC;
		}
}

	.icones{
		&:active{
			color: purple;
		}
	}