.rectangle{
    display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
    height: 29px;
    width: 80px;
    background-color: #99E2D0;
		color: #008766;
		z-index: 1;
}

.badge {
  position: absolute;
	right: 15px;
	top: 15px;
}

.etapes{
	display: flex;
	border: none;
	box-sizing: border-box;
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
	width: 90%;
	border-radius: 25px;

	font-size: 16px;
	font-weight: 500;
	&-item{
		align-items: center;
		text-align: center;
		position: relative;
		background-color: #F6F6F6;
		gap: 30px;
		margin-bottom: 25px;
		padding: 10px 42px;
	}
}

.etapes-title{
	font-size: 16px;
	margin: 0px;
}
.etapes-text{
	font-size: 16px;
	margin: 0px;
	display: flex;
	justify-content: space-between;
}

.circle{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border-radius: 25px;
    width: 24px;
    height: 24px;
    background-color: #9356DC;
    color: #FFFF;
		top: 50%;
		left: 0;
		transform: translate(-50%,-50%);
}

.icon{
	color: black;
	display: flex;
	padding-left: 10%;

		&-grey{
		color: #7F7F7F;
		}
		&-pirple{
			color: #9356DC;
		}
}

.icones{
	&:active{
		color: rbga(147, 86, 220 1);
		}
	}

	// svg fill path color white

.menu-card{
	display: flex;
	border: none;
	box-sizing: border-box;
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
	width: 90%;
	border-radius: 15px;
	font-size: 16px;
	font-weight: 500;
	background-color: white;
	flex-direction: column;
	padding: 15px;
	margin-top: 12px;
	position: relative;
	overflow: hidden;
}

.menu-ligne{
	display: flex;
	flex-direction: column;
}
.menu-text{
	display: flex;
	flex-direction: column;
}

.menu-icon{
	position: absolute;
	top: 0;
	right: -50px;
	width: 30%;
	height: 30%;
	transition: right 0.1s ease-in;
}
.menu-icon:active {
	right: 0;
}