/*********** GENERAL ***********/
* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-bg-color: #F3F3F3;
    --alternate-bg-color: #FFFFFF;
    --third-bg-color: #EAEAEA;
}

body {
    background-color: var(--main-bg-color);
    margin: 0%;
}

.title {
    display: flex;
    justify-content: center;
    background-color: var(--alternate-bg-color);
    padding: 20px;
    box-shadow: 0px 2px 4px 0px rgb(0, 0, 0);
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap :10px;
    background-color:var(--third-bg-color);
    font-size: 14px;
}
